/* VARIABLES */

:root {
  --background-color: #deeaee;
  --main-color: #f3eed9;
  --secondary-color: #574142;
  --another-color: #acac9a;
  --Photo-border-color: #bfa5a5;
  --main-font: "Montserrat", sans-serif;
  --heading-font: "Smooch Sans", sans-serif;
}

/* GLOBAL STYLES */

body::before {
  content: "";
  background: url(/img/iphone-background.jpg) center;
  background-size: cover;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
  z-index: -1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: #deeaee;
  color: var(--main-color);
  min-height: 100vh;
  overflow-x: hidden;
  font-family: var(--main-font);
  background-image: linear-gradient(
    to right,
    #852416,
    #6a1b16,
    #501414,
    #360e0e,
    #200302
  );
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: auto;
  margin: 0 1rem;
}

a:hover {
  color: var(--Photo-border-color);
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  margin-inline-end: 0.4rem;
  text-align: center;
  font-family: var(--main-font);
  font-size: 1.5rem;
  transition: 0.3s;
  color: var(--main-color);
}

p {
  padding: 2em;
  font-size: 1.25rem;
}

h2 {
  font-family: var(--heading-font);
  font-size: 2.5rem;
}

.even img {
  order: 2;
}

span h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

footer {
  bottom: 0px;
  background: var(--secondary-color);
  padding: 0.75em;
  width: 100%;
  margin-top: auto;
  text-align: center;
  z-index: 1000;
}

/* NAV AND HEADER STYLES */

header {
  margin-bottom: auto;
}

header h1 {
  text-align: center;
  margin-top: 2em;
  color: var(--main-color);
  position: relative;
  top: 1.2em;
  background: var(--secondary-color);
  width: 100vw;
  box-shadow: 0.3rem 0.3rem 0.4rem black;
}

#hero {
  position: sticky;
  width: 100vw;
  top: 0%;
  background: url(/img/hero.jpg) center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  z-index: 100;
}

.menu-toggle {
  position: absolute;
  z-index: 10000;
  width: 37px;
  top: 0.75rem;
  right: 0.75rem;
  border: 0;
}

.button {
  color: var(--another-color);
  border: 2px solid var(--secondary-color);
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: 0.5s;
  margin-bottom: auto;
}

.navigation {
  display: flex;
  align-items: flex-end;
  font-size: 1.5em;
}

.navigation a:hover {
  color: var(--Photo-border-color);
}

#heading {
  padding: 1em;
  margin-bottom: 0.2em;
}

/* PORTFOLIO STYLES */

main.portfolio {
  margin-top: 5em;
}

.portfolio img {
  width: 66.6vw;
  margin: 1.5rem;
}

.portfolio section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ABOUT STYLES */
.about img {
  width: 45%;
  margin: 1em;
  max-height: 40em;
  border: 5px solid var(--Photo-border-color);
  border-radius: 50%;
}

.about p {
  font-size: 1.25rem;
}

.about section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  width: 50vw;
}

.about span {
  display: flex;
  flex-direction: column;
}

.about {
  padding-top: 1em;
}

.about h2 {
  font-size: 3.5rem;
}

/* LANDING STYLES */

.button:hover {
  background-color: var(--secondary-color);
  color: #b1cbbb;
}

.entry span {
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.entry a {
  color: var(--Photo-border-color);
}

.entry img {
  width: 20%;
  border: 4px solid var(--Photo-border-color);
  border-radius: 50%;
}

.entry p {
  font-family: "Montserrat", sans-serif;
  padding: 1.5em;
  text-align: center;
}

main.entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
}

.entry h1 {
  margin-top: auto;
  text-align: center;
}

#gradient {
  border: 2px solid var(--background-color);
  border-radius: 0;
  width: 35%;
  margin: 1rem;
}

/* RESUME STYLES */

#download {
  margin-bottom: 2rem;
}

.resume span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.resume img {
  width: 8rem;
}

main.resume {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume span a {
  padding: 1em;
}
main.resume {
  margin-top: 3em;
}

#resume a {
  text-decoration: none;
  font-family: var(--main-font);
  display: flex;
  justify-content: center;
  margin: 3em;
  color: var(--main-color);
}

object.pdf-viewer {
  height: 100%;
  width: 100%;
}

/* BLOG POST STYLES */

.blog-posts article {
  display: flex;
  font-size: 0.7em;
  background: #3b2c2e;
  min-height: 40vh;
  justify-content: center;
  align-items: center;
  box-shadow: 0.5em 0.7em 1em black;
  min-height: 3rem;
}

.blog-posts article img {
  border: 2px solid var(--main-color);
  /* border-radius: 50%; */
  max-height: 10rem;
  margin: 1em;

}

.blog-posts a.article:nth-child(1) {
  margin-top: 4rem;
}
.blog-posts a.article:nth-child(5) {
  margin-bottom: 1rem;
}

.article h3 {
  font-size: 2.25rem;
  margin: 1rem;
  font-weight: bold;
  font-family: "Smooch Sans", sans-serif;
}

.blog-posts p {
  text-align: left;
}

.blog-heading {
  font-size: 3rem;
  padding: 2.5rem;
}

.blog-article section {
  display: block;
  width: 100%;
  text-align: left;
  padding: 2em;
}

.blog-article article {
  display: flex;
  flex-direction: column;
}
.blog-article article div {
  display: flex;
  flex-direction: row;
}

.blog-article article p {
  display: inline-block;
  font-size: 1.5em;
  padding: 2em;
  text-align: left;
}

.blog-article article p:nth-child(1) {
  display: inline;
}

.blog-article img {
  width: 33%;
  display: inline;
  margin: 2em;
}

.blog-heading {
  color: var(--Photo-border-color);
}

.blog-article article {
  display: flex;
  flex-direction: column;
}

.blog-article h2 {
  margin-top: 2rem;
  color: var(--main-color);
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 5rem;
  text-align: center;
}

/* CONTACT STYLES */

.buttons {
  display: flex;
  justify-content: space-around;
}

.button2 {
  height: 60px;
  width: 60px;
  background-color: white;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  float: left;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  color: black;
}

.button2 .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  transition: all 0.25s ease-in-out;
}

.button2 i{
  z-index: 1;
}

.button2:hover {
  width: 11.5em;
}
.button2:nth-child(2):hover i {
  color: #0e76a8;
}
.button2:nth-child(2):hover {
  color: #0e76a8;
}

.button2 span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
}

.button2 .icon i {
  font-size: 25px;
  line-height: 60px;
  color: black;
  position: relative;
  left: 5%;
}

#social-links {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;

  column-gap: 2em;
}

.contact h2 {
  padding: 3rem 0;
  text-align: center;
  font-size: 3.5em;
}

.contact {
  margin-top: 0em;
}

.icon a {
  width: 0.0000000001px;
}

#form {
  margin-left: 0.5em;
  text-align: center;
  font-size: 1.5em;
}

button {
  margin: 0.5em auto;
  display: block;
  padding: 1rem;
}

.about section:nth-child(1) {
  border-right: 1px solid var(--another-color);
}

.about section:nth-child(2) {
  border-left: 1px solid var(--another-color);
}

/* DESKTOP STYLES */

@media only screen and (min-width: 901px) {
  /* NAVIGATION */

  #nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 1em;
    right: 1em;
    background-image: linear-gradient(
      to right,
      #852416,
      #6a1b16,
      #501414,
      #360e0e,
      #200302
    );
    padding: 0 0.75em;
    box-shadow: 1em 1em 1em black;
  }

  nav.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-top: 1rem;
  }

  #nav a {
    color: var(--main-color);
    font-size: 1em;
  }

  #nav a:hover {
    color: #9c3535;
  }

  .menu-toggle {
    display: none;
  }

  #current-page {
    border-bottom: solid 2.5px var(--another-color);
  }

  /* ABOUT STYLES */

  .about h2 {
    margin: 1em;
  }

  .about section:nth-child(1) {
    border-right: 1px solid var(--another-color);
  }

  .about section:nth-child(2) {
    border-left: 1px solid var(--another-color);
  }

  main.about {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
  }

  .about section {
    display: flex;
    flex-direction: column;
  }

  /* RESUME STYLES */

  .resume-desktop {
    position: relative;
    left: 10%;
    margin-top: 1em;
  }

  .resume div {
    width: 100%;
  }

  .resume div {
    margin-top: 7em;
    width: 55rem;
    height: 100vh;
  }

  main.resume {
    margin-top: 1em;
  }

  /* PORTFOLIO STYLES */

  main.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .portfolio img {
    width: 50%;
  }

  .portfolio span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .portfolio p {
    height: 100%;
  }

  .portfolio section {
    height: 100%;
    justify-content: flex-start;
    text-align: center;
  }

  /* BLOG STYLES */

  .blog-posts div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
  }

  .blog-posts a:nth-child(1) {
    grid-column: span 4;
  }
  .blog-posts a:nth-child(5) {
    grid-column: span 4;
  }

  .blog-posts a:nth-child(4) {
    grid-column: span 2;
  }

  .blog-posts article {
    display: flex;
    flex-direction: column;
  }

  .article .even img {
    order: 0;
  }
}

/* TABLET STYLES */

@media only screen and (min-width: 600px) and (max-width: 900px) {
  /* NAVIGATION STYLES */

  .navigation {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 0;
    background: var(--main-color);
    opacity: 95%;
    flex-direction: column;
    padding: 1em;
    height: 100vh;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    transition: 0.25s;
  }

  .navigation[data-visible="false"] {
    transform: translateX(100%);
  }

  .navigation[data-visible="true"] {
    transform: translateX(70%);
  }

  .navigation li {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: left;
    font-family: var(--main-font);
    font-size: 1.5rem;
  }

  .navigation a {
    color: var(--secondary-color);
  }

  /* ABOUT STYLES */

  .about section {
    display: flex;
    flex-direction: column;
  }

  .about h2 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .even img {
    order: 0;
  }

  main.about {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
  }

  /* PORTFOLIO STYLES */

  main.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .portfolio img {
    width: 33vw;
  }

  .portfolio section {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    text-align: center;
  }

  .portfolio p {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* BLOG STYLES */

  .blog-article article div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #first-post {
    margin-top: 4rem;
  }

  /* MISC STYLES */

  #hide-mobile {
    display: none;
  }

  .even img {
    order: 2;
  }
}

/* MOBILE STYLES */

@media only screen and (min-width: 1px) and (max-width: 599px) {
  /* UNIVERSAL STYLES */

  p {
    text-align: center;
  }

  #hide-mobile {
    display: none;
  }

  .even img {
    order: 0;
  }

  /* NAVIGATION STYLES */

  .navigation {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 0;
    background: var(--main-color);
    opacity: 95%;
    flex-direction: column;
    padding: 1em;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.25s;
  }

  .navigation[data-visible="false"] {
    transform: translateX(100%);
  }

  .navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .navigation li {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: center;
    font-family: var(--main-font);
    font-size: 1.5rem;
  }

  .navigation a {
    color: var(--another-color);
  }

  .menu-toggle {
    position: absolute;
  }

  #social-links img {
    width: 25vw;
  }

  /* ABOUT STYLES */

  main.about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .about section:nth-child(1) {
    border: none;
  }

  .about section:nth-child(2) {
    border: none;
  }

  /* BLOG STYLES */

  main.blog-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blog-posts article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blog-article article div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .blog-article article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  main.blog-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  #first-post {
    margin-top: 4rem;
  }
}
