/* VARIABLES */

:root {
  --background-color: #deeaee;
  --main-color: #c94c4c;
  --secondary-color: #eea29a;
  --another-color: #b1cbbb;
  --main-font: "Montserrat", sans-serif;
}

/* GLOBAL VALUES */

 body::before {
    content: "";
    background: url(/img/iphone-background.jpg) center;
    background-size: cover;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
    z-index: -1;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: #deeaee;
  color: #c94c4c;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: var(--main-font);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  margin-top: auto;
}

.button:hover {
  background-color: var(--secondary-color);
  color: #b1cbbb;
}

a:hover{
  color: #f29191;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  margin-inline-end: 0.4rem;
  text-align: center;
  font-family: var(--main-font);
  font-size: 1.5rem;
  transition: 0.3s;
}

p {
  padding: 2em;
}

header h1 {
  text-align: center;
  margin-top: 2em;
  color: var(--main-color);
  position: relative;
  top: 1.2em;
  background: var(--secondary-color);
  width: 100vw;
  /* margin-bottom: 2em; */
}
h2 {
  padding: 0.5em;
}

article {
  display: flex;
  font-size: 0.7em;
  background: var(--background-color);
  margin: 1.5em;
  max-height: 40vh;
  justify-content: center;
  align-items: center;
}

header {
  margin-bottom: 3em;
}

.even img {
  order: 2;
}

span h2 {
  text-align: center;
}

main article img {
  border: 2px solid var(--main-color);
  border-radius: 50%;
  height: 10em;
  margin: 1em;
}

h3 {
  text-align: center;
}

footer {
  background: var(--secondary-color);
  padding: 1em;
  width: 100%;
  margin-top: auto;
  text-align: center;
  z-index: 1000;
}

/* NAV AND HEADER STYLES */

#hero {
  position: sticky;
  width: 100vw;
  top: 0%;
  background: url(/img/hero.jpg) center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.button {
  color: var(--another-color);
  border: 2px solid var(--secondary-color);
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: 0.5s;
}

.navigation {
  display: flex;
  flex-wrap: flex;
  align-items: flex-end;
  font-size: 1.5em;
  /* background: var(--main-color); */
}

#heading {
  padding: 1em;
  margin-bottom: 0.2em;
}

/* PORTFOLIO STYLES */

main.portfolio {
  margin-top: 5em;
}

.portfolio img {
  width: 66.6vw;
  z-index: -1;
  margin: 1.5em;
}

.portfolio section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ABOUT STYLES */
.about img {
  width: 50vw;
  margin: 0.5em;
  max-height: 40em;
  border: 0.0000000001px solid;
  border-radius: 50%;
}

.about section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.about span {
  display: flex;
  flex-direction: column;
}

.article {
  display: block;
  text-decoration: none;
  color: var(--main-color);
  font-size: 1em;
}

.about {
  padding-top: 1em;
}

/* LANDING STYLES */

.entry img {
  width: 33.3%;
  border: 4px solid var(--another-color);
  border-radius: 50%;
}

.entry p {
  font-family: "Montserrat", sans-serif;
  padding: 1.5em;
}

/* RESUME STYLES */

.resume section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#resume img {
  width: 8em;
}

main.resume {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .resume article {
  width: 100vw;
}

section#resume {
  width: 100vw;
  text-align: center;
}



#resume a {
  text-decoration: none;
  font-family: var(--main-font);
  display: flex;
  justify-content: center;
  margin: 3em;
  color: var(--main-color);
} */

/* BLOG POST STYLES */

.blog-posts span {
  display: flex;
  flex-direction: column;
}

.article article {
  height: 50vh;
  background-color: #b1cbbb;
}

.blog-posts p {
  text-align: left;
}

/* CONTACT STYLES */

#social-links {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
}

#social-links img {
  width: 15vw;
  fill: white;
}

#form {
  margin-left: 0.5em;
  text-align: center;
}

button{
margin:0.5em auto;
    display:block;
    padding: 0.5em;
}

/* DESKTOP STYLES */

@media only screen and (min-width: 801px) {
  #nav {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 1em;
    right: 1em;
    background: #b1cbbb;
  }
  #nav a {
    color: #c94c4c;
    font-size: 1em;
  }

  .menu-toggle {
    display: none;
  }

  .resume-desktop {
    position: relative;
    left: 10%;
    margin-top: 1em;
  }

  .about img {
    width: 33vw;
  }

  .about h2 {
    margin: 1em;
  }

  main.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .portfolio img {
    width: 15vw;
    min-height: 6em;
  }

  .portfolio p {
    height: 100%;
  }

  .portfolio section {
    height: 100%;
    justify-content: flex-start;
    text-align: center;
  }

  .blog-posts div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .blog-posts a:nth-child(1) {
    grid-column: span 4;
  }

  .blog-posts a:nth-child(4) {
    grid-column: span 2;
  }

  .blog-posts article {
    display: flex;
    flex-direction: column;
  }

  .article .even img {
    order: 0;
  }


}

/* TABLET STYLES */

@media only screen and (min-width: 426px) and (max-width: 800px) {
  .navigation {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 0;
    background: var(--main-color);
    opacity: 95%;
    flex-direction: column;
    padding: 1em;
    height: 100vh;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    transition: 0.25s;
  }

  .about section {
    display: flex;
    flex-direction: column;
  }

  .about h2 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about img {
    width: 33vw;
  }

  .even img {
    order: 0;
  }

  main.about {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
  }

  main.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .portfolio img {
    width: 33vw;
  }

  .portfolio section {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    text-align: center;
  }

  .portfolio p {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navigation[data-visible="false"] {
    transform: translateX(100%);
  }

  .navigation[data-visible="true"] {
    transform: translateX(70%);
  }

  .navigation li {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: left;
    font-family: var(--main-font);
    font-size: 1.5rem;
  }

  .navigation a {
    color: var(--another-color);
  }
  .menu-toggle {
    position: absolute;
    z-index: 10000;
    width: 24px;
    aspect-ratio: 1;
    top: 0.75rem;
    right: 0.75rem;
    border: 0;
  }

  #hide-mobile {
    display: none;
  }
  .even img {
    order: 2;
  }
}

/* PHONE ONLY STYLES */

@media only screen and (min-width: 301px) and (max-width: 425px) {
  p {
    text-align: center;
    padding: 1em;
  }
  .navigation {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 0;
    background: var(--main-color);
    opacity: 95%;
    flex-direction: column;
    padding: 1em;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.25s;
  }

  .navigation[data-visible="false"] {
    transform: translateX(100%);
  }

  .navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .navigation li {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: center;
    font-family: var(--main-font);
    font-size: 1.5rem;
  }

  .navigation a {
    color: var(--another-color);
  }
  .menu-toggle {
    position: absolute;
    z-index: 10000;
    /* background: url(/img/menu.png); */
    background-repeat: no-repeat;
    width: 2em;
    aspect-ratio: 1;
    top: 0.75rem;
    right: 0.75rem;
    border: 0;
  }
  .menu-toggle {
    position: absolute;
  }
  #hide-mobile {
    display: none;
  }

  #social-links img {
  width: 25vw;
}
}

/* TINY PHONE STYLES */

@media only screen and (max-width: 300px) {
  p {
    text-align: center;
    padding: 1em;
  }
  .navigation {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 0;
    background: var(--main-color);
    opacity: 95%;
    flex-direction: column;
    padding: 1em;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.25s;
  }
 
  .navigation[data-visible="false"] {
    transform: translateX(100%);
  }

  .navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .navigation li {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: center;
    font-family: var(--main-font);
    font-size: 1.5rem;
  }

  .navigation a {
    color: var(--another-color);
  }
  .menu-toggle {
    position: absolute;
    z-index: 10000;
    /* background: url(/img/menu.png); */
    background-repeat: no-repeat;
    width: 2em;
    aspect-ratio: 1;
    top: 0.75rem;
    right: 0.75rem;
    border: 0;
  }
  .menu-toggle {
    position: absolute;
  }
  #hide-mobile {
    display: none;
  }

  main,
  article,
  section,
  span {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #social-links img {
  width: 25vw;
}
}
